.rhap_button-clear svg path {
    fill: #8c2a26;
}

.player-div .rhap_volume-indicator{
    background-color: #8c2a26;
}

.player-div .rhap_progress-indicator{
    background-color: #8c2a26;
}

.rhap_volume-bar {
    background-color: '#FFF';
}

.player-div div {
    background-color: #be9b7b;
}

.player-div .rhap_progress-bar, .player-div .rhap_volume-bar, .player-div .rhap_progress-filled, .player-div .rhap_download-progress{
    background-color: #fff4e6;
}

.player-div .rhap_time {
    color: #fff4e6;
}